In [25]:
import pandas as pd

In [26]:
A = pd.read_csv('ATR.csv')
B = pd.read_csv('D_EW_B.csv')
C = pd.read_csv('D_EW_S.csv')
D = pd.read_csv('HHLL.csv')
E = pd.read_csv('LR_Explore.csv')
F = pd.read_csv('Pattern_Revv.csv')
G = pd.read_csv('SCTR_Trial.csv')
H = pd.read_csv('ZigZag.csv')

Data cleaning to rename each value of Buy into the name of the tinker instead of 1

In [27]:
A['Buy'] = A['Buy'].replace(1, 'ATR')
A.head

<bound method NDFrame.head of           Ticker  Date/Time  Buy
0      360ONE.NS  9/26/2024  ATR
1      1STCUS.BO  9/24/2024  ATR
2       ^CNXAUTO  9/26/2024  ATR
3    ^CNXPSUBANK  9/23/2024  ATR
4      ^CNXMETAL  9/24/2024  ATR
..           ...        ...  ...
400  ZBINTXPP.BO  9/27/2024  ATR
401  ZEEMEDIA.NS  9/23/2024  ATR
402  ZEEMEDIA.NS  9/26/2024  ATR
403  ZSARACOM.BO  9/27/2024  ATR
404     ZUARI.NS  9/27/2024  ATR

[405 rows x 3 columns]>

In [28]:
B.rename(columns={'Mega Buy by Larger Wave ': 'Buy'}, inplace=True)
B['Buy'] = 'EW'
B.head

<bound method NDFrame.head of               Ticker  Date/Time  Close Buy        SL
0          360ONE.NS  7/15/2024   1068  EW    926.30
1          360ONE.NS   8/7/2024   1068  EW    982.40
2      21STCENMGM.NS  7/23/2024    109  EW     74.35
3          1STCUS.BO  7/30/2024    122  EW     84.20
4          1STCUS.BO  9/13/2024    122  EW     89.35
...              ...        ...    ...  ..       ...
14714    ZSARACOM.BO  7/11/2024  23827  EW   6555.50
14715    ZSARACOM.BO  7/25/2024  23827  EW   8600.00
14716    ZSARACOM.BO   8/9/2024  23827  EW   8700.00
14717    ZSARACOM.BO   9/5/2024  23827  EW  14047.45
14718    ZSARACOM.BO  9/27/2024  23827  EW  21561.00

[14719 rows x 5 columns]>

In [29]:
C.head

<bound method NDFrame.head of               Ticker  Date/Time  Close  Mega Sellby Larger Wave        SL
0          360ONE.NS  7/31/2024   1068                  1128.16    926.30
1          360ONE.NS  9/12/2024   1068                  1104.03   1054.50
2      21STCENMGM.NS  7/16/2024    109                    81.10     47.65
3      21STCENMGM.NS  9/11/2024    109                   140.01     74.35
4          1STCUS.BO  8/13/2024    122                   127.15     84.20
...              ...        ...    ...                      ...       ...
14440      ZIMLAB.BO   9/2/2024    113                   122.70    109.45
14441    ZSARACOM.BO  7/12/2024  23827                  9474.80   8799.20
14442    ZSARACOM.BO  7/30/2024  23827                  9848.50   8600.00
14443    ZSARACOM.BO  8/30/2024  23827                 17125.18   8700.00
14444    ZSARACOM.BO  9/23/2024  23827                 26441.24  14047.45

[14445 rows x 5 columns]>

In [30]:
D.head

<bound method NDFrame.head of              Ticker  Date/Time    Close       hh       ll  FromLow  FromHigh
0         1STCUS.BO  9/20/2024   113.95   127.19    89.35      1.0       0.0
1         1STCUS.BO  9/27/2024   121.55   126.35    89.35      2.0       0.0
2     21STCENMGM.NS  9/20/2024   120.82   141.40    42.70      0.0       1.0
3     21STCENMGM.NS  9/27/2024   109.19   141.40   109.19      0.0       2.0
4      20MICRONS.NS  9/20/2024   301.65   348.00   285.40      0.0       4.0
...             ...        ...      ...      ...      ...      ...       ...
6869   ZYDUSLIFE.NS  9/27/2024  1075.95  1324.30  1038.55      0.0       0.0
6870   ZYDUSWELL.NS  9/20/2024  2080.65  2484.00  2055.50      0.0       0.0
6871   ZYDUSWELL.NS  9/27/2024  2013.00  2484.00  1961.25      0.0       0.0
6872   ZODJRDMKJ.BO  9/20/2024    89.60   134.99    86.95      0.0       3.0
6873   ZODJRDMKJ.BO  9/27/2024    90.00   134.99    85.75      0.0       0.0

[6874 rows x 7 columns]>

In [31]:
E.rename(columns={'myBuy ': 'Buy'}, inplace=True)
E['Buy'] = E['Buy'].replace(1, 'LR')
E.head()

        Ticker  Date/Time  Close  Buy  myShort
0    1STCUS.BO  9/18/2024    122   LR      NaN
1     ^CNXAUTO  9/20/2024  27611   LR      NaN
2  A2ZINFRA.NS  9/25/2024     19   LR      NaN
3     AAVAS.NS  9/27/2024   1820  NaN      1.0
4       ABB.NS  9/25/2024   8133   LR      NaN

In [32]:
F.rename(columns={'BullBreak': 'Buy'}, inplace=True)
F['Buy'] = F['Buy'].replace('bullish Breakout', 'BB')
F.head

<bound method NDFrame.head of              Ticker  Date/Time  Buy         BearBreak     Pattern    Close
0         1STCUS.BO  9/23/2024  NaN  Bearish Breakout       Wedge   118.00
1         1STCUS.BO  9/24/2024  NaN  Bearish Breakout       Wedge   123.90
2         1STCUS.BO  9/25/2024  NaN  Bearish Breakout       Wedge   124.00
3         1STCUS.BO  9/26/2024  NaN  Bearish Breakout       Wedge   121.55
4         1STCUS.BO  9/27/2024  NaN  Bearish Breakout       Wedge   121.55
...             ...        ...  ...               ...         ...      ...
15761  ZYDUSLIFE.NS  9/23/2024  NaN               NaN  Up Channel  1055.25
15762  ZYDUSLIFE.NS  9/24/2024  NaN               NaN  Up Channel  1051.55
15763  ZYDUSLIFE.NS  9/25/2024  NaN               NaN  Up Channel  1063.45
15764  ZYDUSLIFE.NS  9/26/2024  NaN               NaN  Up Channel  1068.00
15765  ZYDUSLIFE.NS  9/27/2024  NaN               NaN  Up Channel  1075.95

[15766 rows x 6 columns]>

In [33]:
H['Buy'] = H['Buy'].replace(1, 'ZZ')
H['Buy'].unique()

array(['ZZ'], dtype=object)

In [34]:
# List of dataframes to merge
tables = [A, B, C, D, E, F, G, H]

# Start with an empty DataFrame for the final result
final_table = pd.DataFrame()

# Perform full outer join on Date/Time and create new rows for each Ticker
for table in tables:
    if 'Ticker' in table.columns:
        # Include 'Ticker' and 'Date/Time' in the melt operation
        temp = pd.melt(table, id_vars=['Date/Time', 'Ticker'], var_name='Field', value_name='Value')
    else:
        # If 'Ticker' is not present, use only 'Date/Time'
        temp = pd.melt(table, id_vars=['Date/Time'], var_name='Field', value_name='Value')

    final_table = pd.concat([final_table, temp], ignore_index=True)

# Pivot the final table to get back the desired structure
final_table = final_table.pivot_table(index=['Date/Time', 'Ticker'], columns='Field', values='Value', aggfunc='first').reset_index()

# Re-arrange columns to have 'Ticker' as the first column
cols = ['Ticker', 'Date/Time'] + [col for col in final_table.columns if col not in ['Ticker', 'Date/Time']]
final_table = final_table[cols]

# Optionally, save the result to a CSV file
final_table.to_csv('joined_tickers.csv', index=False)

Field          Ticker Date/Time Alert BearBreak  Buy Close DnBars  \
0          ATLANTA.NS  1/1/2024   0.0       NaN  NaN   NaN    NaN
1             GATI.NS  1/1/2024   0.0       NaN  NaN   NaN    NaN
2       TATACOFFEE.NS  1/1/2024   0.0       NaN  NaN   NaN    NaN
3       TATAMETALI.NS  1/1/2024   0.0       NaN  NaN   NaN    NaN
4         TINPLATE.NS  1/1/2024   0.0       NaN  NaN   NaN    NaN
...               ...       ...   ...       ...  ...   ...    ...
132118      ^CNXMETAL  9/9/2024   0.0       NaN  NaN   NaN    NaN
132119    ^CNXPSUBANK  9/9/2024   0.0       NaN  NaN   NaN    NaN
132120     ^CNXREALTY  9/9/2024   0.0       NaN  NaN   NaN    NaN
132121       ^NSEBANK  9/9/2024   0.0       NaN  NaN   NaN    NaN
132122          ^NSEI  9/9/2024   0.0       NaN  NaN   NaN    NaN

Field  Downtrend Length FromHigh FromLow  ... PercentileRank    Rank    S1  \
0                   NaN      NaN     NaN  ...           81.5   660.0  0.54
1                   NaN      NaN     NaN  ...          19.17  2880.0  1.89
2                   NaN      NaN     NaN  ...          69.99  1070.0  0.04
3                   NaN      NaN     NaN  ...          65.89  1216.0  0.43
4                   NaN      NaN     NaN  ...          66.98  1177.0  0.59
...                 ...      ...     ...  ...            ...     ...   ...
132118              NaN      NaN     NaN  ...          49.55  1798.0 -2.09
132119              NaN      NaN     NaN  ...          28.44  2550.0 -1.05
132120              NaN      NaN     NaN  ...          54.58  1619.0 -0.77
132121              NaN      NaN     NaN  ...          49.83  1788.0  0.44
132122              NaN      NaN     NaN  ...          56.54  1549.0 -0.28

Field    SCTR   SL UpBars Uptrend Length   hh   ll myShort
0       35.59  NaN    NaN            NaN  NaN  NaN     NaN
1       -0.83  NaN    NaN            NaN  NaN  NaN     NaN
2       26.08  NaN    NaN            NaN  NaN  NaN     NaN
3       23.28  NaN    NaN            NaN  NaN  NaN     NaN
4       23.95  NaN    NaN            NaN  NaN  NaN     NaN
...       ...  ...    ...            ...  ...  ...     ...
132118   6.57  NaN    NaN            NaN  NaN  NaN     NaN
132119  -1.79  NaN    NaN            NaN  NaN  NaN     NaN
132120    8.9  NaN    NaN            NaN  NaN  NaN     NaN
132121   6.69  NaN    NaN            NaN  NaN  NaN     NaN
132122   9.69  NaN    NaN            NaN  NaN  NaN     NaN

[132123 rows x 26 columns]